*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d0d0d;
color:#fff;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:#111;
border-bottom:1px solid #2b2b2b;
position:sticky;
top:0;
z-index:1000;
}

.logo h1{
font-size:32px;
color:#8b5cf6;
}

.logo p{
color:#aaa;
font-size:14px;
margin-top:5px;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:#fff;
text-decoration:none;
transition:.3s;
font-weight:500;
}

nav a:hover{
color:#8b5cf6;
}

.hero{
text-align:center;
padding:90px 20px;
}

.hero h2{
font-size:48px;
margin-bottom:15px;
}

.hero p{
color:#bdbdbd;
font-size:18px;
}

main{
width:90%;
max-width:1400px;
margin:auto;
padding-bottom:80px;
}

section{
margin-top:70px;
}

section h2{
margin-bottom:25px;
font-size:34px;
border-left:5px solid #8b5cf6;
padding-left:15px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

.card{
    background:#171717;
    border-radius:12px;
    overflow:hidden;
    cursor:pointer;
    transition:.35s ease;

}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(124,58,237,.6);
}
.card img{
    transition:.35s ease;
}

.card:hover img{
    transform:scale(1.08);
    object-fit: cover;
}

.card img,
.card video{
width:100%;
display:block;
}

.card h3{
padding:18px;
font-size:20px;
text-align:center;
}

footer{
margin-top:80px;
padding:30px;
text-align:center;
background:#111;
color:#888;
}

.preview{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.9);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

    .preview img,
 .preview video {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:20px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.hero h2{
font-size:34px;
}

}
.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,.6);
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 10000;
}

.prev{
    left: 25px;
}

.next{
    right: 25px;
}

.nav:hover{
    background: #7c3aed;
}
/* ===========================
   Mobile Responsive
=========================== */

@media (max-width: 768px){

    .gallery{
        grid-template-columns: 1fr;
    }

    .card img{
        height: auto;
    }

    .hero h1{
        font-size: 36px;
    }

    .hero p{
        font-size: 18px;
    }

    nav{
        flex-wrap: wrap;
        gap: 10px;
    }

    .preview img,
    .preview video{
        max-width:95vw;
        max-height:85vh;
    }

}

.card.show{
    opacity: 1;
    transform: translateY(0);
    transition: opacity .6s ease, transform .6s ease;
}